
.header {
  background-color: #f5ba13;
}



header {
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
h1.text-keeper {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 32px;
}

a, button {
  font-family: "McLaren", cursive;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

/* HTML: <div class="loader"></div> */
/* in your global CSS (e.g. index.css or App.css) */
.overlay {
  position: fixed;
  inset: 0;               /* top:0; right:0; bottom:0; left:0 */
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background:
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}

@keyframes l7 {
  33% { background-size: calc(100%/3) 0%,   calc(100%/3) 100%, calc(100%/3) 100% }
  50% { background-size: calc(100%/3) 100%, calc(100%/3) 0%,   calc(100%/3) 100% }
  66% { background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%   }
}
